* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Container Main */

.container-main .title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #025157;
    margin-bottom: 24px;
    text-align: center;
}

.container-main {
    width: 100%;
    grid-template-columns: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container-main .description {
    font-size: 20px;
    color: #46484c;    
    line-height: 31px;
    text-align: center;
    padding: 16px;
}


.video {
    width: 90%;
    height: 100%;
    align-self: center;
}

.trial {
    display: flex;
    flex-direction: column;
    margin: 50px 16px 24px 16px;
}

.trial .btn-trial{
    background-color: #67b54b;
    color: #fff;
    border-style: none ;
    border-radius: 5px;
    padding: 10px 24px;
    margin-bottom: 20px;
}

.trial-text {
    font-size: 14px;
    color: rgba(139,139,139,.8);
    text-align: center;
    margin-bottom: 50px;
}

.container-video {
    text-align: center;
}

@media (min-width: 992px) {

    .container-main {
        width: 70%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        align-items: center;
    }

    .container-main .title {
        line-height: 63px;
        font-size: 68px;
        text-align: start;
    }

    .container-main .description {
        text-align: start;
        padding: 0;
    }

    .trial {
        display: flex;
        flex-direction: row;
        margin: 50px 0 24px 0;
    }

    .trial .btn-trial{
        margin-right: 24px;
        margin-bottom: 0;
    }

    .trial-text {
        text-align: start;
        margin-bottom: 0;
    }

    .container-video {
        text-align: start;
    }

    .video {
        width: 560px ;
        height: 400px;
    }
}

/* CSS BRANDS  */

.container-brands {
    font-size: 13px;
    color: #4A4A44;
    text-align: center;   
    margin-top: 50px;
}

.images-brands {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images-brands > img {
    width: 30%;
    height: 36px;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (min-width: 992px) {

    .images-brands {
        display: flex;
        flex-direction: row;
        justify-content:center;
    }

    .images-brands > img {
        width: auto;
        height: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 24px;
        margin-right: 24px;
    }
}

/* CSS TOP FEATURE */

.container-features {
    margin-bottom: 120px;
    margin-top: 120px ;
}

.container-features-articles {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.container-title {
    font-family: 'Lucida Sans';
    font-size: 40px;
    color: #025157;
    text-align: center;
    margin-bottom: 24px;
    font-weight: bold;
}

.features-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.container-features-articles > article {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.container-features-articles > article > h3 {
    font-size: 24px;
    font-family: 'IBM Plex Sans',Arial,sans-serif;
    margin-bottom: 20px;
    margin-top: 24px;
}

.container-features-articles > article > p {
    color: #4a4a4a;
    line-height: 30px;
}

.container-features-articles > article > img {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 40px;
    box-shadow: 0 8px 24px rgba(0,0,0,.1);
}

.container-subtitle {
    font-family: 'Lucida Sans';
    font-size: 18px;
    color: #4a4a4a;
    text-align: center;
    padding: 24px;
}

@media (min-width: 768px) { 

    .container-features-articles {
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
    }

    .container-features-articles > article {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width: 992px) { 

    .container-features-articles {
        width: 70%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }
}

/* CSS TOOLS CARDS */

.container-tools {
    margin: 16px;
}

.tools-title {
    font-size: 36px;
    font-family: 'IBM Plex Sans',Arial,sans-serif;
    font-weight: bold;
    color: #025157;
    margin-top: 24px;
    margin-bottom: 50px;
    text-align: center;
}

.tools-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 0;
}

.tools-grid > article {
    background-color: #fff;
    border: 1px solid #dadada; 
    box-shadow: 0 4px 20px rgba(0,0,0,.06);
    padding: 40px 18px;
    border-radius: 4px;
    text-align: center;
}

.tools-grid > article > h3 {
    font-weight: 500;
    font-family: 'IBM Plex Sans',Arial,sans-serif;
    color: #343434;
    margin-top: 16px;
    margin-bottom: 20px;
}

.tools-grid > article > p {
    font-size: 15px;
    color: #7e7e7e;
    max-width: 92%;
    margin: 0 auto;
}

.tools-grid >article >img {
    max-width: 38px;
    height: auto;
}


@media (min-width: 768px) {
    .tools-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 40px;
        grid-column-gap: 40px;
    }

    
}

@media (min-width: 992px) {
    .tools-grid {
        width: 70%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        grid-row-gap: 40px;
        grid-column-gap: 40px;
    }
}

/* CSS GET STARTED */

.container-getStarted {
    display: flex;
    flex-direction: column;
    background: #025157;
    color: #fff;
    border-radius: 10px;
    padding: 12vw 8.75vw;
    margin: 16px;
}

.container-getStarted .getStatted-title {
    font-family: vesterbrobold,Arial,sans-serif;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 24px;
}

.container-getStarted .getStatted-link {
    font-family: 'IBM Plex Sans',Arial,sans-serif;
    line-height: 46px;
    font-size: 16px;
}

.container-getStarted .request-btn {
    margin-top: 40px;
    color: #6abf4b;
    text-decoration: none;
}  

.btn-get {
    background-color: #67b54b;
    color: #fff;
    border-style: none ;
    border-radius: 5px;
    padding: 10px 24px;
    margin-bottom: 20px;
    font-size: 20px;
}

@media (min-width: 992px) {
    .container-getStarted {
        display: flex;
        flex-direction: row;
        width: 70%;
        margin: 0 auto;
        align-items: center;
        justify-content: space-around;
        padding: 80px 84px; 
    }

    .container-getStarted .getStatted-title {
        font-size: 34px;
    }
}


/* CSSS FOOTER */ 

.container-footer {
    margin: 16px;
}

.footer-copyrigth {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.footer-copyrigth > p {
    font-size: 14px;
    color: #4a4a4a;
}


.footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer-social {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer-social > a{
    margin-right: 19px;
}

.footer-contact {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
}

.footer-contact .title {
    font-family: 'IBM Plex Sans',Arial,sans-serif;
    font-size: 13px;
    color: #025157;
    margin-bottom: 26px;
    margin-top: 26px;
}

.footer-contact .subtitle { 
    font-family: 'IBM Plex Sans',Arial,sans-serif;
    font-size: 16px;
    color: #4a4a4a;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    font-size: 20px;
    color: #4a4a4a;
}

li {
    padding-top: 16px;
}

.input-email {
    border-left: 1px solid #025157;
    border-top: 1px solid #025157;
    border-bottom: 1px solid #025157;
    height: 48px;
    width: 50%;
    color: #4a4a4a;
    padding: 16px;
    margin-right: 0;
}

.btn-email {
        height: 48px;
        width: auto;
        border: 0;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        font-size: 14px;
        text-align: center;
        color: #fff;
        background-color: #025157;
        cursor: pointer;
        font-family: 'IBM Plex Sans',Arial,sans-serif;
}

.send-email {
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) { 

    .footer-copyrigth {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-social {
        display: flex;
        align-items: center;
        margin-top: 0;
        margin-bottom: 30px;
    }

    .footer-contact {
        display: grid;
        grid-template-columns: 50% repeat(3, 1fr);
        text-align: start;
    }

    .send-email {
        display: flex;
        justify-content: flex-start;
    }
}

@media (min-width: 992px) { 
    .footer-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
    } 
    
    .footer-social {
        margin-bottom: 0;
        padding-left: 24px ;
    }

    .container-footer {
        width: 70%;
        margin: 0 auto;
    } 
    .send-email {
        display: flex;
        justify-content: flex-start;
    }
}


/* CSS GROWING */

.container-growing {
    margin: 16px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
}

.title-growing {
    font-size: 55px;
    font-weight: bold;
    color: #025157;
    font-family: vesterbroextrabold,Arial,sans-serif;
    margin-bottom: 8px;
}

.description-growing {
    font-family: 'IBM Plex Sans',Arial,sans-serif;
    font-size: 18px;
    color: #4a4a4a;
    padding-bottom: 16px;
}

.btn-beefy {
    font-size: 14px;
    padding: 15px 20px;
    text-align: center;
    color: #fff;
    background: #025157;
    border-radius: 8px;
    border: 0;
    margin-bottom: 60px;
}

.carusel {
    align-self: center;
}

@media (min-width: 768px) {  
    .carusel {
        align-self: flex-start;
    }
}

@media (min-width: 992px) {  
    .container-growing {
        display: flex;
        flex-direction: row-reverse;
        width: 70%;
        margin: 120px auto;
    }

    .carusel {
        align-self: flex-start;
        padding-right: 30px;
    }
}